@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: navy;
    --sky-blue: #00a6e8;
    --cards-font: "Noto Sans", serif;
    --cards-bg-color: #F7F9FB;
    --dark-grey: #292929;
    --soft-grey: #6C757D;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #F7F9FB;
}

nav {
    background-color: var(--primary-color);
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    font-size: 1rem;
    font-weight: 600;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.nav-links {
    text-decoration: none;
    color: white;
}

.shadow {
    box-shadow: 0px 5px 5px #000000b5;
}

.shadow-full {
    box-shadow: 0px 4px 10px 0px black;
}

.button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 1rem;
    margin-right: 1rem;
}

.white-button {
    color: var(--sky-blue);
    background-color: white;
}

.blue-button {
    background-color: var(--sky-blue);
    color: white;
}

.separation {
    width: 2px;
    border: 1px solid white;
    height: 1.5rem;
}

.container {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin: 2rem auto;
    max-width: 90vw;
}

.text-section {
    flex: 1;
}

.text-section h2 {
    font-size: 2.5rem;
    max-width: 90vw;
    font-weight: 700;
}

.text-section p {
    font-size: 1rem;
    max-width: 80%;
    padding: 0.5rem 0;
}

.image-section img {
    max-width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 2rem auto;
    max-width: 90vw;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap: 1rem;
    width: 20rem;
    height: 15rem;
    border-radius: 10px;
    background-color: var(--cards-bg-color);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-header {
    display: flex;
    padding: 2rem 0;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dark-grey);
}

.card-icon {
    height: 3rem;
    width: 3rem;
}

.card-desc {
    font-size: 0.9rem;
    color: var(--soft-grey);
    text-align: center;
    max-width: 90%;
}

.container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;
}

.steps-header {
    text-align: center;
    margin: 5rem 0;
}

.steps-header p:first-child {
    font-size: 4rem;
    font-weight: 500;
    color: #3B447A;
}

.steps-header p:last-child {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--soft-grey);
}

.steps-container {
    max-width: 80vw;
    margin: 5rem auto;

}

footer {
    width: 100%;
    background-color: var(--primary-color);
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    color: white;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}

.footer-col {
    flex: 1;
    margin-right: 20px;
}

.footer-col:last-child {
    margin-right: 0;
}

.footer-col h4 {
    margin-bottom: 10px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 5px;
}

.footer-col ul li a {
    color: white;
    text-decoration: none;
}

.social-links {
    display: flex;
}

.social-links li {
    margin-right: 10px;
}

.social-links a {
    font-size: 18px;
}

.social-links svg {
    fill: var(--sky-blue)
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}


.footer-col form {
    display: flex;
}

.footer-col form input[type="email"] {
    width: 20vw;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
}

.footer-col form button {
    background-color: #00a6e8;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.footer-col :nth-child(1) {
    color: white;
}

.footer-container {
    flex-direction: column;
}


@media (max-width: 1023px) {
    .container {
        flex-direction: column;
        padding: 1rem;
    }

    .text-section h2 {
        font-size: 2.5rem;
    }

    .text-section p {
        font-size: 1rem;
    }


    .image-section img {
        max-width: 100%;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
        margin-bottom: 1rem;
    }

    .card-header span {
        font-size: 1.8rem;
    }

    .card-desc {
        font-size: 1rem;
    }

    .steps-header p:first-child {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .text-section h2 {
        font-size: 2rem;
    }

    .text-section p {
        font-size: 0.9rem;
    }

    .card-header span {
        font-size: 1.3rem;
    }

    .card-desc {
        font-size: 1rem;
    }

    .steps-header p:first-child {
        font-size: 2rem;
    }

    .footer-content {
        gap: 2rem;
    }
}
